Xft.dpi:                        96
Xft.antialias:                  true
Xft.rgba:                       rgb
Xft.hinting:                    true
Xft.hintstyle:                  hintslight


URxvt.depth:                    32
URxvt.transparent:              true
URxvt.shading:                  20
URxvt.internalBorder:           3
URxvt.lineSpace:                1

! URxvt.allow_bold:               false
URxvt.font:                     xft:Inconsolata:pixelsize=16,xft:Droid Sans Mono:pixelsize=16,xft:DejaVu Sans Mono:pixelsize=16,xft:Droid Sans Fallback:pixelsize=16,xft:FreeSans:pixelsize=16,xft:FreeSans:pixelsize=16
URxvt.boldFont:                xft:Inconsolata:pixelsize=16,xft:Droid Sans Mono:pixelsize=16,xft:DejaVu Sans Mono:pixelsize=16,xft:Droid Sans Fallback:pixelsize=16,xft:FreeSans:pixelsize=16,xft:FrpeeSans:pixelsize=16
URxvt.italicFont:               xft:Inconsolata:pixelsize=16,xft:Droid Sans Mono:pixelsize=16,xft:DejaVu Sans Mono:pixelsize=16,xft:Droid Sans Fallback:pixelsize=16,xft:FreeSans:pixelsize=16,xft:FreeSans:pixelsize=16
URxvt.boldItalicFont:           xft:Inconsolata:pixelsize=16,xft:Droid Sans Mono:pixelsize=16,xft:DejaVu Sans Mono:pixelsize=16,xft:Droid Sans Fallback:pixelsize=16,xft:FreeSans:pixelsize=16,xft:FreeSans:pixelsize=16
URxvt*letterSpace:              -1

URxvt.scrollStyle:              rxvt
URxvt.scrollBar:                false

! URxvt.perl-ext-common:  default,tabbed
URxvt.perl-ext-common:          default,matcher
URxvt.matcher.button:           1
URxvt.urlLauncher:              firefox

URxvt.cursorBlink:              true
URxvt.cursorColor:              #657b83
URxvt.cursorUnderline:          false

URxvt.pointerBlank:             true

*pointerColorBackground:        #586e75
*pointerColorForeground:        #93a1a1
*fading:                        20
! *fadeColor:                     #002b36


! special
*.foreground:   #888a8c
*.background:   #1e2021
*.cursorColor:  #888a8c

! black
*.color0:       #515151
*.color8:       #707172

! red
*.color1:       #bf6382
*.color9:       #eaaec2

! green
*.color2:       #65a446
*.color10:      #aed49b

! yellow
*.color3:       #ad8a43
*.color11:      #d4c3a0

! blue
*.color4:       #6b85c2
*.color12:      #afc4e9

! magenta
*.color5:       #9e6bb8
*.color13:      #d2b1e2

! cyan
*.color6:       #5c9d88
*.color14:      #a4d0c1

! white
*.color7:       #919191
*.color15:      #d0d0d0